dnnv~=0.6.0
numpy>=1.20,<1.22
onnx>=1.8,<1.11
scipy~=1.7
torch~=1.6
torchvision~=0.7
# Requirements for cleverhans
cleverhans~=4.0; extra == "cleverhans"
# Requirements for foolbox
foolbox~=3.3; extra == "foolbox"
# Requirements for testing
coverage~=5.5; extra == "test"
pytest~=6.2; extra == "test"
# Requirements for development
black~=21.7b0; extra == "dev"
mypy~=0.910; extra == "dev"
# Requirements for building the docs
sphinx~=4.0; extra == "docs"
furo; extra == "docs"
